<header>
  <img
    src="assets/img/foto.jpg"
    alt="profile photo Amanda Lima"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Amanda Lima Elbadawy</h1>
</header>
<aside>
  <div class="container">
    <p>
      Software engineer, Scrum master and Front-end developer - Tech stack:
      JavaScript and TypeScript in Angular
    </p>
    <p>São José dos Campos, São Paulo - Brasil</p>
    <p>
      Software Engineer with solid experience as a Scrum Master and Front-End
      Developer, specializing in Angular and agile team management. Currently
      pursuing an MBA in Project Management to further enhance my leadership,
      strategic planning, and execution skills.
      <br>
      Skilled in product backlog
      management, prioritizing demands, and ensuring strategic alignment between
      business and technology. Adept at translating business requirements into
      efficient technical solutions, delivering high value to stakeholders and
      digital products.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cvEn.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/amandarll/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="icon whatsApp"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=551299751-8064&text=Ol%C3%A1%20Amanda"
            target="_blank"
          >
            <strong>Send a message to:</strong>
            <p>WhatsApp:(12) 99751-8064</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="icon email"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a href="mailto:amanda.elbadawy@gmail.com" target="_blank">
            <strong>Send a email to:</strong>
            <p>amanda.elbadawy&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
